<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<style>
body{
    background-color: white;
    margin:0;
    /* font-family: 'Avenir', 'Montserrat'; */
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background .7s;
    -webkit-transition: background .6s;
    -moz-transition: background .6s;
}
#container {
    margin: 20px auto;
    max-width: 600px;
}
#colorDisplay{
    font-size: 200%;
}
#game{
    text-align: center;
    font-weight: normal;
    line-height: 1.1;
    color: white;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}
#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}
#message{
    display: inline-block;
    width: 20%;
}

.selected {
    color: white;
    background-color: steelblue;
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    outline: none;
}

button:hover{
    color: white;
    background-color: steelblue;
}
#logout{
    margin-top: 450px;
}
.lead{
    color: black;
}
.mt-4 {
    color: black;
}
</style>
    
    <title>Color Guessing Game</title>
</head>
<body>
    <div class="container">
        <%- body %>   
    </div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>