<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead mt-4">Click Link <a href="/"><button class="btn btn-outline-dark btn-lg">Go Back to Game</button> </a></p>
</section>